<!-- Admin home -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<center>
    <h1> Welcome To Admin Home</h1>
    <br><br><br><br><br>
    <form method="post">

        <table>
            <tr>
                <td>
                    <h2><a href="/pending/"> Pending List</a> </h2>
                </td>
                <td>
                    <h2><a href="/approved/"> Approved List</a> </h2>
                </td>
            </tr>
        </table>

    </form>
</center>

</body>
</html>